/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #08088A;
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



a:hover,
a:focus {
    
    color: #0404B4;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F4D793 0%, #B79C45 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F4D793 0%, #B79C45 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F4D793 0%, #B79C45 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F4D793), color-stop(1, #B79C45));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F4D793 0%, #B79C45 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F4D793 0%, #B79C45 100%);
    height: 30px; 
}

.navbar {
    min-height: 30px !important;
    margin-bottom: 0px;
    width: 100%;
 }

 .navegacion{
    height: 60px;
 }

 .navbar-nav li a {
  padding-top: 4px !important;
  
}



.navbar-custom a {
    color:#fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}



.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}



.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    margin-top: 14px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}



@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 1;
    
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #9c9cfc;
    background: rgba(128,128,255,.7);
}

::selection {
    text-shadow: none;
    background: #9c9cfc;
    background: rgba(128,128,255,.7);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.form-control {
  
 
}

.btn1{
    margin-top: 8px;
    width: 120px;

}

.btn2{
    height: 34px;

}

.btn3{
    height: 30px;
    width: 50px;
    margin-right: 50px;
    margin-bottom: 6px;

}

.input-group{
    width: 600px;
    margin: auto; 
}

.input-group1{
    width: 500px;
    margin: 9px; 
}

.navbar-brand{
    height: 90px;
  padding-top: 3px;
  padding-right: 0px;
}

.naveg{
 background-color: #fff;
 border-color: #e7e7e7;
 height: 40px;
 margin-bottom: 10px;
}

.navbar-text{
    margin-top: 4px;
}

#ref{
    padding-right: 42px;
    font-weight: bold;
}

#spn1{
    padding-bottom: 2px;
   
}

#p1{
  font-size: 1em;
  margin-top: 8px;
  margin-left: 135px;
  margin-bottom: 6px;
}

.parrafo{
 margin-bottom: 0px;
 margin-left: 0px;
 font-size: 1em;

}

.parrafo a {
    color: #08088A;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.parrafo a:hover, a:focus {
    color: #0404B4;
    
}

.divresul{
   margin-bottom: 30px;
   margin-left: 100px;
   

}

.margen{
    margin-left: 50px;
    padding-left: 0px;
}

.control-label {
  text-align: left !important;
    
}

.ventana{
  width: 700px;

}

.tlibro{
 display: none;

}

.btn-primary {
    background-color: #951622;
    border-color: #900a22;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #890000;
  border-color: #870000;
}

.modal-header {
    background-color: #951622;
    color: #fff;
}

.modal-header .close {
    font-weight: 300;
    color: #fff;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}

.claseresultado{
    display: block;
}

.clasevista{
    display: none;
}

.link{
  padding-right: 3px;
  width: 65px !important; 
}

.titulos{
 font-weight: bold;
 margin-top: 10px;

}

.separow{
    margin-top: 10px;
}

.icono{
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    color: #951622;
}

.rowfinal1{
    height: 50px;
    margin-left: 50px;
}

.rowfinal2{
    height: 50px;
    margin-left: 103px;
}

.pie{
    padding: 0px;
    height: 100px;
}

.paginador{
 margin-top: 1px !important;
 margin-left: 40px;

} 

.iconofinal{

   margin-left: 95px; 
}

.abstract{
    overflow:hidden;
    white-space:pre-line; 
    text-overflow: ellipsis; 
}

.ellipsify {
    
    line-height:18px;
    height: 54px;       /* 3x line height */
    width: 750px;
    overflow: hidden;
    position: relative; /* so we're a positioning parent for the dot hiders */
    background: white;

}

.pre-dots {
    float: right;
    height: 36px;  /* 2x line height (one less than visible lines) */
}

.dots {
    float: right; /* to make the text wrap around the dots */
    clear: right; /* to push us below (not next to) .pre-dots */
}

/* hides the dots if the text has *exactly* 3 lines */
.hidedots1 {
    background: white;
    width: 750px;
    height: 18px;       /* line height */
    position: absolute; /* otherwise, because of the width, it'll be wrapped */
}

/* hides the dots if the text has *less than* 3 lines */
.hidedots2 {
    background: white; 
    width: 750px;
    height: 54px;       /* 3x line height, to ensure hiding even if empty */
    position: absolute; /* ensures we're above the dots */
}

.info{
    float:left;
    margin-top: 21px;
    margin-left: -57px;
}

.info2{
    margin-left: 30px;
    margin-top: 3px;
}

.info3{
    margin-left: 6px;
    font-weight: bold;
}

.resulnum{
    margin-left: 40px !important;
}